$white: white;
$fontsize: 12px;

// RESET
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: $fontsize;
	font-family: sans-serif;
}
body {
	background: $white;
	width: 100%;
	min-height: 100vh;
}
img {
	width: 100%;
	max-width: 100%;
}
.container {
	width: 80%;
	margin: auto;
}
// main content
.name-contact {
	width: 80%;
	margin: auto;
	margin: 50px auto 10px auto;
	.contact {
		float: right;
	}
}
.section-one {
	background: url(../images/home-bg.jpg) no-repeat;
	background-size: 100% 100%;
	object-fit: cover;
	display: flex;
	flex-direction: column;
	.section-one--flex {
		display: flex;
		flex-direction: column;
	}
	.section-one__intro {
		color: $white;
		margin-bottom: 25px;
		h1 {
			padding: 15px 0;
			font-size: 2.5rem;
		}
		p {
			font-weight: 600;
			line-height: 1.5;
		}
	}
	.section-one__form {
		background-color: #00000091;
		margin-bottom: 40px;
		max-width: 375px;
		margin: auto;
		.form-container {
			width: 90%;
			max-width: 375px;
			margin: auto;
			padding: 10px 0;
			.form-text {
				color: $white;
				text-align: center;
				padding-bottom: 15px;
				line-height: 2;
				h3 {
					font-size: 2rem;
				}
				p {
					font-weight: 600;
				}
			}
			input {
				margin-bottom: 10px;
				width: 100%;
				max-width: 375px;
				margin: auto;
				padding: 10px;
				border-radius: 5px;
				outline: none;
				margin-bottom: 12px;
				border-radius: 5px;
			}
			.submit {
				background-color: rgb(12, 221, 12);
				color: white;
				font-weight: bolder;
			}
		}
	}
}
.section-two {
	padding: 20px;
	.section-two--flex {
		display: flex;
		flex-direction: column;
	}
	.box {
		margin: 15px auto;
		text-align: center;
		h3 {
			padding-bottom: 10px;
		}
		p {
			line-height: 1.5;
		}
		i {
			margin-bottom: 20px;
			padding: 20px;
			color: cyan;
			background-color: #cec3c319;
			border-radius: 35px;
		}
	}
}
.section-three {
	background-color: #cec3c33c;
	text-align: center;
	h3 {
		padding: 15px;
	}
	p {
		font-style: italic;
	}
	.section-three--flex {
		display: flex;
		flex-direction: column;
		.section-three__img {
			padding-bottom: 20px;
			.avatar-container {
				margin-bottom: 20px;
				.avatar {
					justify-content: center;
					align-items: center;
					flex-direction: row;
					display: flex;
				}
				.avatar-image {
					width: 50px;
					margin: auto;
					border-radius: 3rem;
					border: 3px solid white;
				}
			}
			.stars > li {
				content: '';
				display: flex;
				background: url(../images/icon-star.svg) space;
				max-width: 85px;
				height: 25px;
				margin: 0.5rem auto 0 auto;
			}
		}
	}
}
footer {
	background-color: #050505aa;
	color: white;
	padding: 10px;
}

@media only screen and (min-width: 768px) {
	.section-one {
		.section-one--flex {
			flex-direction: row;
			padding: 50px;
		}
		.section-one__intro {
			flex-basis: 40%;
			margin-right: 50px;
			margin-top: 30px;
			h1 {
				font-size: 3rem;
			}
			p {
				font-size: 1.1rem;
			}
		}
		.section-one__form {
			flex-basis: 60%;
		}
	}
	.section-two {
		.section-two--flex {
			flex-direction: row;
		}
		.box {
			flex-basis: 50%;
			margin-right: 50px;
			p {
				width: 80%;
				margin: auto;
			}
		}
	}
	.section-three {
		p {
			width: 50%;
			margin: auto;
		}
		.section-three--flex {
			display: flex;
			flex-direction: row;
			.section-three__img {
				flex-basis: 50%;
			}
		}
	}
}
